/* IMPORT FONTS, DEFINE VARIABLES, MIXINS AND FUNCTIONS */

// IMPORT FONTS

// {Font name}
@import url('{Font url}');

// {Font name}
@font-face {
  font-family: '{Font name}';
  font-weight '{Font weight}'
  src: url('{Font url}');
}

// VARIABLES

// Font family
font-primary = '{Font name}', sans-serif
font-secondary = '{Font name}', serif

// Font weight

font-light = 300
font-normal = 400
font-semi-bold = 600
font-bold=700
font-extra-bold = 800
font-black = 900

font-base-size = 16

// MIXINS AND FUNCTIONS

px2rem(size)
  return unit(size / font-base-size, rem)

px2em(size)
  return unit(size / font-base-size, em)

text-size(size = 16)
  font-size: px2rem(size)


text-primary(size = 16, weight = font-normal)
  font-family font-primary
  text-size(size)
  font-weight weight

text-secondary(size = 16, weight = font-normal)
  font-family font-secondary
  text-size(size)
  font-weight weight
