/* IMPORT FONTS, DEFINE VARIABLES, MIXINS AND FUNCTIONS */

// IMPORT FONTS

// 'Font family name'
 @import url();

// VARIABLES

// Font family
ff--primary = ''
ff--secondary = ''

// Font weight

fw--light = 300
fw--normal = 400
fw--semi-bold = 600
fw--bold=700
fw--extra-bold = 800
fw--black = 900

font-base-size = 16

// MIXINS AND FUNCTIONS

px2rem(size)
  return unit(size / font-base-size, rem)

px2em(size)
  return unit(size / font-base-size, em)

text-size(size = 16)
  font-size: px2rem(size)

font-primary(size = 16, weight = font-normal)
  font-family ff--primary
  text-size(size)
  font-weight weight

font-secondary(size = 16, weight = font-normal)
  font-family ff--secondary
  text-size(size)
  font-weight weight
